# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Build files
dist/
build/

# Editor and system files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# Git-specific
.git/
